<div class="flex justify-end p-4 gap-8" [formGroup]="searchForm">
  <select
    appFormcontrolUi
    name="documents"
    id="documents"
    formControlName="documents"
  >
    @for (item of documents$ | async; track $index) {
    <option [value]="item.value">{{ item.label }}</option>
    }
  </select>
  <select
    appFormcontrolUi
    name="countries"
    id="countries"
    formControlName="countries"
  >
    @for (item of countries$ | async; track $index) {
    <option [value]="item.value">{{ item.label }}</option>
    }
  </select>
  <select
    appFormcontrolUi
    name="jobAreas"
    id="jobAreas"
    formControlName="jobAreas"
  >
    @for (item of jobAreas$ | async; track $index) {
    <option [value]="item.value">{{ item.label }}</option>
    }
  </select>
  <input
    appFormcontrolUi
    type="text"
    name="search"
    id="search1"
    placeholder="search"
    formControlName="term"
  />
</div>
<div
  class="container mx-auto grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-3"
>
  @for (item of employees$ | async; track $index) {
  <app-employees-info-card
    class="shadow-lg rounded p-4"
    [data]="item"
  ></app-employees-info-card>
  }
</div>
